{% extends 'master_header.html' %}
{% load static %}

{% block content %}
<div class="jb-container">
 

  <div>
    <table class="jb-table-no-lines">
      <tr>
	<td colspan="3"><h2>Map ID: {{ map.id }}</h2></td>
      <tr>
      <tr>
	<td>
	  <table class="jb-table-no-lines">
	    <tr><td>&kappa;:</td><td>{{ map.kappa }}</td></tr>
	    <tr><td>&gamma;:</td><td>{{ map.gamma }}</td></tr>
	    <tr><td>s:</td><td>{{ map.s }}</td></tr>
	  </table>
	</td>
	<td valign="middle">
	  <a href="{{ sample }}"><img src="{{ icon }}" alt="icon" /></a>
	</td>
	<td valign="middle">
	  <img width="350px" src="{{ mpd }}" alt="mpd" />
	</td>	
      </tr>
    </table>
  </div>

  
</div>
{% endblock content %}


{% block extrastyles %}
<link href="{% static 'gerlumph_maps/css/map_detail.css' %}" rel="stylesheet" />
{% endblock extrastyles %}


{% block extrascripts %}
{% endblock extrascripts %}
