{% extends 'master_header.html' %}
{% load static %}

{% block content %}
{% include "modal_container.html" %}


<div class="jb-container">

  <div class="jb-table-no-lines">
    <table>
      <tr>
	<td>
	  <h1 class="jb-heading-1">{{ user.first_name }} {{ user.last_name }} ({{ user.username }})</h1>
	  <p class="joined-on">
	    Joined on {{ user.date_joined }}, last login {{ user.last_login|timesince }} ago
	  </p>
	</td>
	<td valign="bottom" align="right">
	  <img src="{{ user.avatar }}" loading="lazy" width="100" class="jb-avatar" />
	</td>
      </tr>
    </table>
  </div>
  
  
  
  
  <div>
    <h1 class="jb-heading-2">Notifications, Tasks, and Updates</h1>

    <div class="c c-user">
      <input class="accordion-checkbox" type="checkbox" id="faq-0">
      <h1 class="jb-heading-2">
	<label for="faq-0">
	  User Information
	</label>
      </h1>
      <div class="p">
	<br>
	<table>
          <thead>
            <tr>
	      <th>First name</th>
	      <th>Last name</th>
	      <th>Affiliation</th>
	      <th>Email</th>
	      <th>Homepage</th>
            </tr>
          </thead>
          <tbody>
            <tr>
	      <td>{{ user.first_name }}</td>
	      <td>{{ user.last_name }}</td>
	      <td>{{ user.affiliation }}</td>
	      <td>{{ user.email }}</td>
	      <td><a href="{{ user.homepage }}">{{ user.homepage }}</a></td>
            </tr>
          </tbody>
	</table>
	<table>
          <thead>
            <tr>
	      <th class="slack-display-name">SLACK display name</th>
	      <th>Info</th>
            </tr>
          </thead>
          <tbody>
            <tr>
	      <td>{{ user.slack_display_name }}</td>
	      <td>{{ user.info }}</td>
            </tr>
          </tbody>
	</table>
	{% comment %}
	<button type="button" class="sled-modal jb-submit-button-1" data-form-url="{% url 'gerlumph_users:user-update' user.pk %}">
	  <img src="{% static 'icons/pencil.svg' %}">
	  Update
	</button>
	{% endcomment %}
	<br>
	<br>
      </div>
    </div>
    

    <div class="c c-user">
      <input class="accordion-checkbox" type="checkbox" id="faq-4">
      <h1 class="jb-heading-2">
	<label for="faq-4">
	  Pending Tasks
	  {% if N_tasks > 0 %}
	  <span class="jb-important-text">
	  &nbsp; - you have <b>{{N_tasks}}</b> new pending {{ N_tasks|pluralize:"task,tasks" }}!
	  </span>
	  {% endif %}
	</label>
      </h1>
      <div class="p">
	<br>
	{% if N_tasks > 0 %}
	{% include 'gerlumph_tasks/task_list_pending.html' with pending=pending_tasks user=user %}
	{% else %}
	<p class="jb-paragraph-2">No pending tasks</p>
	{% endif %}
	{% comment %}
	<a href="{% url 'gerlumph_tasks:tasks-list' %}">See all tasks</a>
	{% endcomment %}
	<br>
	<br>
      </div>
    </div>


  </div>



  
  <div class="margin-top">
    <h1 class="jb-heading-2">Database Management</h1>
    


    
    <div class="c c-user">
      <input class="accordion-checkbox" type="checkbox" id="lenses">
      <h1 class="jb-heading-2">
	<label for="lenses">
	  My Lenses ({{ N_lenses_total }})
	</label>
      </h1>
      <div class="p">

	<form id="lenses-form" class="ids-form" method="POST">
          {% csrf_token %}

	  <div>
	    {% include "pagination_top.html" with qset=lenses request=request qset_range=lenses_range qset_total=N_lenses_total target="lenses" %}
	    {% comment %}
	    {% include "lenses/lens_list_executive.html" with lenses=lenses %}
	    {% endcomment %}
	    {% include "pagination_bottom.html" with qset=lenses request=request qset_range=lenses_range qset_total=N_lenses_total target="lenses" %}
	  </div>

	  {% comment %}
	  <div>
	    <button type="submit" class="jb-submit-button-1" form="lenses-form" formaction="{% url 'lenses:lens-update' %}">
	      <img src="{% static 'icons/pencil.svg' %}">
	      Update
	    </button>
	    <button type="button" class="sled-process-ids jb-submit-button-1" data-form-url="{% url 'so:so-revoke-access' %}" data-sled-onload="set_modal_so_give_revoke_access">
	      <img src="{% static 'icons/person-dash-fill.svg' %}">
	      Revoke access
	    </button>
	    <button type="button" class="sled-process-ids jb-submit-button-1" data-form-url="{% url 'so:so-give-access' %}" data-sled-onload="set_modal_so_give_revoke_access">
	      <img src="{% static 'icons/person-plus-fill.svg' %}">
	      Give access
	    </button>
	    <button type="button" class="sled-process-ids jb-submit-button-1" data-form-url="{% url 'lenses:lens-make-public' %}">
	      <img src="{% static 'icons/people-fill.svg' %}" >
	      Make public
	    </button>
	    <button type="button" id="make-collection" class="sled-process-ids jb-submit-button-1" data-form-url="{% url 'sled_collections:collection-create' 'Lenses' %}">
	      <img src="{% static 'icons/folder-fill.svg' %}"> 
	      Make collection
	    </button>
	    <button type="button" id="add-to-collection" class="sled-process-ids jb-submit-button-1" data-form-url="{% url 'sled_collections:collection-add-items' 'Lenses' %}">
	      <img src="{% static 'icons/folder-plus.svg' %}">
	      Add to collection
	    </button>
    
	    <!-- The buttons below should be hidden as extra actions -->
	    <button type="button" class="sled-process-ids jb-submit-button-1" data-form-url="{% url 'so:so-make-private' %}">
	      <img src="{% static 'icons/lock-fill.svg' %}" >
	      Make private
	    </button>
	    <button type="button" class="sled-process-ids jb-submit-button-1" data-form-url="{% url 'so:so-cede-ownership' %}" data-sled-onload="set_modal_so_cede_ownership">
	      <img src="{% static 'icons/forward-fill.svg' %}" >
	      Cede ownership
	    </button>
	    <button type="button" class="sled-process-ids jb-submit-button-1" data-form-url="{% url 'lenses:lens-delete' %}">
	      <img src="{% static 'icons/trash.svg' %}" >
	      Delete
	    </button>
	  </div>
	  {% endcomment %}

	</form>
	<br>
	<br>
      </div>
    </div>



  
  
  
    <div class="c c-user">
      <input class="accordion-checkbox" type="checkbox" id="generic-images">
      <h1 class="jb-heading-2">
	<label for="generic-images">
	  My Generic Images ({{ N_generic_image_total }})
	</label>
      </h1>
      <div class="p">
	<br>
	{% if user.is_superuser %}
	<p>
	  The admin owns all the automatically fetched data, which are too many to display here.
	  Instead, if the admin needs to update or delete data then they can do it at each lens detail page.
	</p>
	{% else %}
	
	{% if generic_images|length == 0 %}
	No Generic Images owned
	{% else %}
	<form id="generic-images-form" class="ids-form" method="POST">
          {% csrf_token %}
	  
	  <div>
	    {% include "pagination_top.html" with qset=generic_images request=request qset_range=generic_images_range qset_total=N_generic_images_total target="generic-images" %}
	    
	    <input name="obj_type" type="hidden" value="GenericImage" />
	    <table class="items-list">
	      <thead>
		<tr>
		  <th></th>
		  <th></th>
		  <th>Lens</th>
		  <th>Name</th>
		  <th>Info</th>
		  <th>Access level</th>
		  <th>Accessible by</th>
		  <th>&nbsp;</th>
		</tr>
	      </thead>
	      <tbody>
		{% for generic_image in generic_images %}
		<tr>
		  <td><input name="ids" type="checkbox" value="{{ generic_image.id }}"></td>
		  <td><img class="sled-mugshot-icon" src="{{ generic_image.image.url }}"></td>
		  <td>
		    <a href="{{ generic_image.lens.get_absolute_url }}">{{ generic_image.lens }}</a>
		    {% if generic_image.is_orphan %}
		    <span class="jb-bold jb-color-red">DELETED</span>
		    {% else %}
		    {% comment %}
		    {% can_access generic_image.lens user as flag %}
		    {% endcomment %}
		    {% if not flag %}
		    <button type="button" class="sled-modal jb-submit-button-1" data-form-url="{% url 'lenses:lens-ask-access' generic_image.lens.pk %}">
		      <img src="{% static 'icons/send-fill.svg' %}">
		      Ask access
		    </button>
		    {% endif %}
		    {% endif %}
		  </td>
		  <td>
		    {{ generic_image.name }}
		  </td>
		  <td>
		    {{ generic_image.info }}
		  </td>
		  <td class="access-level">
		    {{ generic_image.access_level }}
		  </td>
		  <td>
		    {{ generic_image.getUsersWithAccessNoOwner|join:"," }} - <em>{{ generic_image.getGroupsWithAccessNoOwner|join:"," }}</em>
		  </td>
		  <td>
		    {% if generic_image.owner == user %}
		    {% comment %}
		    <button type="button" class="sled-modal jb-overlay-button-1" data-form-url="{% url 'sled_data:generic-image-update' generic_image.id %}">
		      <img src="{% static 'icons/pencil.svg' %}">
		      Update
		    </button>
		    {% endcomment %}
		    {% endif %}
		  </td>
		</tr>
		{% endfor %}
	    </table>
	    <button type="button" class="sled-toggle-all btn btn-sm btn-light" value="select">Toggle select all</button>
	    <button type="button" class="sled-toggle-access btn btn-sm btn-light" value="PUB">Show PUB</button>
	  </div>	 
	  {% include "pagination_bottom.html" with qset=generic_images request=request qset_range=generic_image_range qset_total=N_generic_image_total target="generic-images" %}
	  
	  <div>
	    <button type="button" class="sled-process-ids jb-submit-button-1" data-form-url="{% url 'so:so-revoke-access' %}" data-sled-onload="set_modal_so_give_revoke_access">
	      <img src="{% static 'icons/person-dash-fill.svg' %}" >
	      Revoke access
	    </button>
	    <button type="button" class="sled-process-ids jb-submit-button-1" data-form-url="{% url 'so:so-give-access' %}" data-sled-onload="set_modal_so_give_revoke_access">
	      <img src="{% static 'icons/person-plus-fill.svg' %}" >
	      Give access
	    </button>
	    <button type="button" class="sled-process-ids jb-submit-button-1" data-form-url="{% url 'so:so-make-public' %}">
	      <img src="{% static 'icons/people-fill.svg' %}" >
	      Make public
	    </button>
	    <button type="button" class="sled-process-ids jb-submit-button-1" data-form-url="{% url 'so:so-make-private' %}">
	      <img src="{% static 'icons/lock-fill.svg' %}" >
	      Make private
	    </button>
	    <button type="button" class="sled-process-ids jb-submit-button-1" data-form-url="{% url 'so:so-cede-ownership' %}" data-sled-onload="set_modal_so_cede_ownership">
	      <img src="{% static 'icons/forward-fill.svg' %}" >
	      Cede ownership
	    </button>
	    <button type="button" class="sled-process-ids jb-submit-button-1" data-form-url="{% url 'sled_data:data-delete-many' %}">
	      <img src="{% static 'icons/trash.svg' %}" >
	      Delete
	    </button>
	  </div>
	  
	</form>
	{% endif %}
	<br>
	<br>
	
	{% endif %}
	<br>
      </div>
    </div>


    
    
    
  </div>
  
  
  
  
  
</div>
{% endblock content %}


{% block extrastyles %}
<link href="{% static 'gerlumph_users/css/sled_users.css' %}" rel="stylesheet" />
{% endblock extrastyles %}


{% block extrascripts %}
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js" integrity="sha384-d3UHjPdzJkZuk5H3qKYMLRyWLAQBJbby2yr2Q58hXXtAGF8RSNO9jpLDlKKPv5v3" crossorigin="anonymous" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous" type="text/javascript"></script>
<script type="text/javascript" src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
<script type="text/javascript" src="{% static 'lenses/js/autocomplete.js' %}"></script>
<script type="text/javascript" src="{% static 'js/tooltipster.bundle.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/set_help.js' %}"></script>
<script type="text/javascript" src="{% static 'sled_users/js/sled_users.js' %}"></script>
<script type="text/javascript" src="{% static 'sled_single_objects/js/so_cede_ownership.js' %}"></script>
<script type="text/javascript" src="{% static 'sled_single_objects/js/so_give_revoke_access.js' %}"></script>
<script type="text/javascript" src="{% static 'sled_data/js/redshift_update.js' %}"></script>
<script type="text/javascript" src="{% static 'sled_data/js/spectrum_update.js' %}"></script>
{% endblock extrascripts %}
